@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #c55c5c;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-home: #F9F9F9;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-white);
    color: var(--color-home);
    line-height: 1.7;
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-bg);
}

section#activity {
    margin-top: 1rem;
}

section#news {
    margin-top: 3rem;
}

section#events {
    margin-top: 3rem;
}

section#testimonials {
    margin-top: 3rem;
}


/* ============== General Styles ================ */
.container {
    width: 100vw;
    margin: 0 auto;

}
a {
    color: var(--color-white);
    /* transition: var(--transition); */
    text-decoration: none;
    text-align: left;
}

/* a:hover {
    background: var(--color-light);
    color: black;
    border-color: var(--color-primary-variant);
    cursor: default;
    transition: var(--transition);
} */

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*
h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-light);
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
} */

/* =========== Media Query Medium ================= */
@media screen and (max-width: 1024px){
   
}


/* =========== Media Query Small ==================== */

@media screen and (max-width: 600px){

}



